.footer__email {
  max-width: 360px;
  width: 100%;
  border: 1px solid rgba(199, 199, 199, 0.5);
  border-radius: 4px;
  padding: 11px 20px;
  background-color: #efefef;
  outline: none;
  margin-bottom: 100px;
  transition: box-shadow 0.3s;
  box-sizing: border-box;
}

.footer__email::placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  color: #151515;
  opacity: 0.7;
}

.footer__email:focus {
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  .footer__email {
    margin: 0 0 40px;
  }
}
