.cover__image {
    justify-self: center;
    grid-area: img;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px){
    .cover__image {
        padding: 40px 0 0 30px;
    }
}