.bikes__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  align-items: flex-end;
}

@media screen and (max-width: 1024px) {
  .bikes__heading {
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
  }
}

@media screen and (max-width: 576px) {
  .bikes__heading {
    margin-bottom: 20px;
  }
}
