.bikes__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #222222;
  opacity: 0.7;
  padding: 10px 0;
  transition: 0.3s opacity, color;
}

.bikes__link:hover {
  opacity: 1;
  color: #151515;
}
