.header__burger {
    text-align: center;
    border: 0;
    cursor: pointer;
    display: none;
    padding: 28px 0;
    background: none;
}

@media screen and (max-width: 1024px){
    .header__burger {
        display: block;
    }
}
