.bikes__grid-item {
  display: flex;
  flex-direction: column;
  gap: 22px;
  position: relative;
}

@media screen and (max-width: 992px) {
  .bikes__grid-item:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .bikes__grid-item:nth-child(2) {
    display: none;
  }
}
