.bikes__name {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding-left: 5px;
  color: #151515;
  transition: 0.3s opacity;
  text-decoration: none;
}

.bikes__name:hover {
  opacity: 0.7;
}

@media screen and (max-width: 576px) {
  .bikes__name {
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    bottom: 0;
    padding: 15px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }
}
