.header__navigation-link {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 500;
    transition: all .2s;
}

.header__navigation-link:hover {
    opacity: .8;
}