.gallery__nav-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    background-color: #EBEBEB;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.gallery__nav-button:last-of-type {
    transform: rotate(180deg);
    margin-left: 20px;
}